<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{name}}</title>
    </head>
   
    <body>
        {{> header}}
        <p>{{screamIt name}}</p>
        <h1>Hello Sneha , Do u need my help?</h1>
        {{> footer}}
    </body>
    
</html>
